/* div.server-register-errors {
    position: relative;
    left: 20%;
} */

.errors {
    bottom: 40px;
    position: relative;
    color: red;
}

/* div.server-errors span, div.form-validation-errors, */ label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

div.errors div {
    position: relative;
    right: 5%;
}

