.errors {
    bottom: 40px;
    position: relative;
    color: red;
}

label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

div.errors div {
    position: relative;
    right: 5%;
}

