.name {
    position: relative;
    bottom: 32px;
    left: 20px;
}

.logo-with-name {
    padding: 10px;
    position: absolute;
    display: inline;
    bottom: -15px;
}

div.logo-with-name div {
    display: inline-block;
}

.refs {
    position: relative;
    left: 195%;
    bottom: 60px;
}

.logout {
    position: relative;
    left: 315%;
}

.header-global-new {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #919191;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    height: 100px;
}